@CHARSET "UTF-8";

* {
	font-family: "微软雅黑","新宋体","arial";
	font-size: 0.8em;
}

body {
	margin: 0;
	padding: 0;
}

/**
 * 调整通用样式
 */
.ui-widget.ui-state-default.ui-inputfield {
	background: white;
}

.ui-widget.ui-state-default.ui-button {
	border: none;
	color: white;
}

/**
 * 必输 红色
 */
.ui-outputlabel .ui-outputlabel-rfi {
	color: red;
}

.ik-formbody .ui-message-info, .ik-formbody  .ui-message-error, .ik-formbody  .ui-message-warn, .ik-formbody  .ui-message-fatal {
	margin: 0;
	padding: 0;
	width: 80%;
}

/**
 * 搜索栏基本样式
 */
.ik-searcharea {
	position: relative;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

/**
 * 搜索栏 搜索按钮
 */
.ui-panelgrid.ik-searcharea .ui-button {
	float: right;
}

/**
 * datatable 样式调整
 */
.ui-datatable.ik-datatable .ui-datatable-tablewrapper {
	border: none;
}

.ui-datatable.ik-datatable .ui-widget-header {
	border-left-style: none;
}

.ik-table, .ui-datatable.ik-datatable tr.ui-widget-content,
	.ui-datatable.ik-datatable tbody.ui-widget-content, .ui-datatable.ik-datatable td
	{
	border-top-style: none;
	border-left-style: none;
	border-color: #ccc;
}

.ui-datatable.ik-datatable thead th, 
.ui-datatable.ik-datatable tbody td, 
.ui-datatable.ik-datatable tfoot td {
	border-left-style: none;
}

/**
 * 去除不必要的border
 */
.ui-menubar.ik-menubar {
	border-left-style: none;
	border-bottom-style: none;
	background: #fafafa;
}

/**
 * 调整menuitem的样式 用来配合easyui icon
 */
.ui-menubar.ik-menubar .ui-menuitem-link.ik-icon {
	padding: 0.4em 0.3em 0.4em 0.1em;
	margin-left: 0.2em;
	background-position: left center;
}

.ik-menubar span.ui-menuitem-text {
	padding-left: 20px;
}

.ui-widget-content .ik-icon.ui-state-hover {
	border: solid 1px YellowGreen;
}

/**
 * 搜索栏grid无边框
 */
.ik-searcharea.ui-panelgrid, .ik-searcharea .ui-widget-content,
	.ik-searcharea.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

/**
 * 搜索栏的padding
 */
.ui-panelgrid.ik-searcharea .ui-panelgrid-cell {
	padding: 2px 10px;
}

.ui-widget.ui-state-default.ui-button.ik-searchbtn {
	background: #ff5555
		url('#{resource["sungard-southwest:images/btnSearch.png"]}');
}

/**
 * 表单 首部按钮条
 */
.ik-buttonbar {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0.6em 0;
	box-shadow: 0 1px 1px #add9c0;
	background-color: white;
	z-index: 999;
	border-bottom: #add9c0 solid 1px;
}

.ik-buttonbar .ik-searchbtn {
	margin-left: 0.6em;
}

.ik-formpage-title {
	font-size: 0.9em;
	margin-left: 2.5em;
	font-weight: bold;
}

/**
 * 表单主体的样式
 */
.ik-formbody {
	position: relative;
	top: 3.6em;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	border: #add9c0 solid 1px;
}

.ik-formlabel {
	width: 8%;
	text-align: right;
	padding: 0.4em 1em;
}

.ik-forminput {
	margin: 0.2em 0;
	width: 17%;
	padding: 0.4em 1em;
}

.ik-forminput .ui-autocomplete {
	width: 100%;
}


.ik-forminput .ui-inputfield {
	width: 80%;
}

.ik-formbody thead {
	text-align: left;
}

.ik-formbody th {
	font-weight: normal;
	text-align: left;
	padding: 0.3em 1em;
	border-bottom: #add9c0 solid 1px;
}

.ik-appendtable th {
	border-top: #add9c0 solid 1px;
}

/**
 * 表单中 一行 两组的样式
 */
.ik-formlabel-2 {
	width: 16%;
	text-align: right;
	padding: 0.4em 1em;
}

.ik-formbtn-2 {
	padding: 0.4em 1em;
}

